<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>这是ejs模版</title>
    <style>
      body { background-color: lightblue;}
      table { border-collapse: collapse;}
      th,td { border:1px red solid; padding:5px;text-align: center;}
    </style>
</head>
<body>
  
  <h1>Hello EJS</h1>
  <h2>
    User: <%=username%>
    <a href="/logout">Log out</a>
  </h2>

  <% 
    for(const stu of stus){ %>
      <%=stu.name %>- <%=stu.age %>- <%=stu.gender %>- <%=stu.address %>
      <br/>
  <% }  %>
      <br/>
      <% if(stus && stus.length > 0) { %>
  <table border="1">
    <caption>Students in Class 1-1</caption>
    <thead>
      <tr>
       <th>ID</th>
       <th>Name</th>
       <th>Age</th>
       <th>Gender</th>
       <th>Address</th>
       <th>Modify</th>
      </tr>
    </thead>
    <tbody>
      <% for(const stu of stus){ %>
      <tr>
        <td> <%=stu.id %></td>
        <td> <%=stu.name %></td>
        <td> <%=stu.age %></td>
        <td> <%=stu.gender %></td>
        <td> <%=stu.address %></td>
        <td>
         <a onclick="return confirm('Are you really want to delete?')"
          href="/students/delete?id=<%=stu.id%>">delete</a> 
         <a href="/students/to_update?id=<%=stu.id%>">modify</a>  
        </td>
      </tr>
      <% } %>
    </tbody>
  </table><br/>

  <% }else{ %>
    <p>No data!!</p>
    <% } %>

  <form action="/students/add" method="post">
    <div>Name: <input type="text" name="name" /></div>
    <div>Age: <input type="number" name="age" max="150" min="0" /></div>
    <div>
      Gender: <input type="radio" name="gender" value="Male" />Male
      <input type="radio" name="gender" value="Female" />Female
    </div>
    <div>Address: <input type="text" name="address" /></div>
    <button>submit</button>
  </form> 
</body>
</html>